2.py
tlrhjymnyj.py
__pycache__/logic.cpython-311.pyc
1.py
__pycache__/config.cpython-311.pyc
ию.py
hghdh.py

__pycache__/main.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/logic.cpython-310.pyc
test_bot.py

test_callback.py
test_fix.py
check_data.py
check_db.py
proj.db
photos/п.jpg
